<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

    </head>
    <body>
    
        <div class="container">
            <h1>Add a new item</h1>
            <form action="/budget" method="POST">
                <input type="text" name="date" placeholder="date"/><br />
                <input type="text" name="name" placeholder="name" /><br />
                <input type="text" name="amount" placeholder="amount" /><br />
                <input type="text" name="from" placeholder="from"/><br />
                <input type="text" name="tags" placeholder="tags"/><br />
                <input type="submit" value="new expense" />
            </form>
        </div>
    </body>
</html>